:root {
  --dark: #30475e;
  --grayA: #596b7e;
  --grayB: #7a8897;
  --grayC: #949fab;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  /* border: 1px solid black; */
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#small-screen {
  display: none;
}

@media (max-width: 899px) {
  :root {
    font-size: 14px !important;
  }

  .hide {
    display: none;
  }

  .shrink-margin {
    margin-right: 0 !important;
  }
}

@media (max-width: 599px) {
  #app {
    display: none;
  }

  #small-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px !important;
    color: var(--dark);
    text-align: center;
  }
}
