#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark);
  /* border: 1px solid var(--grayC); */
}

.card {
  display: flex;
  justify-content: space-between;
  color: var(--dark) !important;
  border-color: var(--grayC) !important;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.form-divider {
  border-color: var(--grayC) !important;
}

.nav-button {
  width: 110px;
}

.details-form {
  border: none;
  resize: none;
}

.resize-none {
  resize: none;
}

.gray {
  color: var(--grayA);
}
