:root {
  --c-dark: #30475e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  /* border: 1px solid black; */
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
