// * {
//   border: 1px solid gray;
// }

#resume {
  @media (min-width: 1200px) {
    padding: 15.7px;
  }

  @media (min-width: 1400px) {
    padding: 18.2px;
  }
}

.section-header {
  @media (min-width: 1200px) {
    font-size: 10.9px;
  }

  @media (min-width: 1400px) {
    font-size: 12.7px;
  }
}

.section-content {
  @media (min-width: 1200px) {
    font-size: 9.6px;
  }

  @media (min-width: 1400px) {
    font-size: 11.1px;
  }
}

.gray {
  color: $secondary;
}

.gray-border {
  border-color: rgba($primary, 0.5);
}

hr {
  padding: 0;
  margin: 0 0 2px 0;
}

.nav-button {
  width: 90px;
}

.details-form {
  border: none;
  resize: none;
}
