// * {
//   border: 1px solid gray;
// }

#resume {
  width: 770px;
  height: 1000px;
}

hr {
  padding: 0;
  margin: 0;
}

.section-header {
  font-size: 12px;
}

.section-content-normal {
  font-size: 11px;
}

.bold {
  font-weight: 700;
}
