@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary: #30475e;
$black: $primary;
$dark: $primary;
$secondary: rgba($primary, 0.75);

$font-family-sans-serif: "Roboto";

$card-border-color: rgba($primary, 0.25);
$body-color: $primary;

$form-check-input-bg: $primary;
$form-check-input-border: 1px solid rgba($black, 0.25);
