@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary: #30475e;
$black: $primary;
$dark: $primary;
$secondary: rgba($primary, 0.75);
$white: #ffffff;

$font-family-sans-serif: "Roboto";

$navbar-dark-color: $white;
$dropdown-link-active-bg: rgba($white, 0.25);

$card-border-color: rgba($primary, 0.25);
$body-color: $primary;
